<template name="interaction">
		<h2>Interactions</h2>
		<table class="interaction-table table-hover table-bordered">
		<thead>
		<tr>
			<th>OK?</th>
			<th>Type</th>
			<th>Date</th>
			<th>Content</th>
		</tr>
		</thead>
		<tbody>
			{{#each interaction}}
		<tr>
			<td>{{ok}}</td>
			<td>{{type}}: {{partner}} </td>
			<td>{{date}}</td>
			<td>{{content}}</td>
		</tr>
		{{/each}}
		</tbody>	
		</table>

		<h2>Indicators</h2>
		<table class="indicator-table table-hover table-bordered">
		<thead>
		<tr>
			<th>Indicator</th>
			<th>Content</th>
		</tr>
		</thead>
		<tbody>
			{{#each indicator}}
		<tr>
			<td>{{type}}</td>
			<td>{{content}}</td>
		</tr>
			{{/each}}
		</tbody>
		</table>

		
</template>